#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* styles.css */

.container {
  max-width: 800px;
  /* margin: auto; */
  /* padding: 20px; */
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3498db;
  padding: 10px;
  color: #ffffff;
}

.navBar h3 {
  margin: 0;
}

.navBar button {
  background-color: #2ecc71;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
}
.label{
  padding-left: 15px;
  font-weight: bold
}


/* Responsive styling */
@media (max-width: 768px) {
  .navBar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navBar button {
    margin-top: 10px;
  }
}


h3 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 6px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

input, select {
  flex: 1;
  padding: 8px;
  margin-right: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.addButton, .removeButton {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.removeButton {
  background-color: #f44336;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  h3 {
    font-size: 1.2rem;
  }

  .input-container {
    flex-direction: column;
    margin-bottom: 8px;
  }

  input, select {
    margin-right: 0;
    margin-bottom: 8px;
  }

  .addButton, .removeButton {
    font-size: 12px;
    padding: 8px 12px;
  }
}
